<%= render  "shared/search" %>

<div class="contents row">
  <% @recipes.each do |recipe| %>
    <%= link_to recipe_path(recipe.id) do %>
      <%= render partial: "shared/recipe", locals: { recipe: recipe } %>
    <% end %>
  <% end %>
</div>