body{
  padding-top: 56px;
  height: 100vh;
  background-image: url(bg_image.jpg);
  /* background-image: image-url('bg_image.jpg'); */
  /* asset-path , config.assets.compile = false */
  /* background-size: cover; */
}

.btn {
  margin: 5px;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}